[defaults]
inventory = inventory/aws_ec2.yml
remote_user = ssm-user
host_key_checking = False
stdout_callback = default
result_format = yaml
roles_path = /home/runner/work/secure-aws-iac/secure-aws-iac/ansible/roles
remote_tmp = /tmp/.ansible/tmp

[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
transfer_method = smart